@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.attribution{ 
    font-size: 11px; 
    text-align: center; 

}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    background: hsl(233, 47%, 7%);
    align-content: center;
    margin: 50px;
    align-items: center;

    font-size: 15px;
   
    
}
.card{
    background: hsl(244, 38%, 16%);
    width: 1000px;
    height: 500px;
    display: flex;
    align-content: center;
    margin: 0 auto;
    padding: 50px;
    color: white;
    border-radius: 10px;
}
.info{
    padding: 15px 0px 15px 0px;
    display: inline-block;
    flex-direction: row;
    margin-top: 45px;
    margin-right: 15px;

}
.info h1{
    line-height: 35px;
    font-family: 'Inter', sans-serif;

}
span{
    color: hsl(277, 64%, 61%);
}
.info #detail{
    margin-top: 35px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    line-height: 30px;
}
.numbers{
    margin-top: 50px;
    margin-left: -20px;
    padding: 20px 20px 20px 20px;
    display: inline-block;
}
.numbers h4{
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}
.numbers p{
    margin-top: 10px;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
;
}
.image{
   
    display: flex;

}

